.gallery-wrapper {
    position: relative;
    overflow: hidden;
    background-color: orange;
    height: 100vh;
}

.gallery-section {
    position: relative;
}

.picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* Start hidden */
}

.picture img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}