.gallery-wrapper {
    height: 100vh;
    overflow: auto;
    position: relative;
    display: flex;
    align-items: center;
    overflow-y: auto;
    background-color: #fbd784;
}

.gallery-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    white-space: nowrap;
    background-color: aqua;
}
.picture img {
    width: 100vw;
}

