:root {
    --text-decorative: clamp(0.7rem, 1vw, 1rem);
    --header-l: clamp(2.5rem, 5vw, 4rem);
    --header-m: clamp(2rem, 4vw, 3rem);
    --header-s: clamp(1.5rem, 3vw, 2rem);
    --text-bodycopy-m: clamp(0.8rem, 2vw, 0.9rem);
    --text-bodycopy-s: clamp(0.7rem, 1.5vw, 0.8rem);
    --nav-list-item: clamp(0.75rem, 1vw, 0.85rem);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, li {
    text-decoration: none;
    list-style: none;
}




@font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Chronicle Display';
    src: url('assets/fonts/Chronicle-Display-Semibold.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Chronicle Display';
    src: url('assets/fonts/Chronicle-Display-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Chronicle Display';
    src: url('assets/fonts/Chronicle-Display-Roman.otf') format('opentype');
    font-weight: 400;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    background-color: #0B1D26;
}

.text-decorative{
    color: #fbd784;
    position: relative;
    font-size: var(--text-decorative);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-left: 80px;
    max-width: 400px;
}

.text-decorative::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    /* Adjust thickness */
    height: 1px;
    /* Full height */
    background-color: #fbd784;
}

.header{
    font-family: 'Chronicle Display', monospace;
    font-weight: 400;
    color: white;
    max-width: 60vw;
}

.header-l{
    font-size: var(--header-l);
}

.header-m{
    font-size: var(--header-m);
}

.header-s{
    font-size: var(--header-s);
}

.text-bodycopy{
    color: white;
}

.text-bodycopy-m{
    font-size: var(--text-bodycopy-m);
    line-height: 24px;
}

.text-bodycopy-s{
    font-size: var(--text-bodycopy-s);
    line-height: 24px;
}

.text-light{
    color: white;
    font-weight: 300;
    line-height: 170%;
}

.text-center {
    align-content: center;
}

.text-bottom {
    align-content: flex-end;
}

.margin-top-m{
    margin-top: 2rem;
}

.header-section{
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header-container{
 display: flex;
 margin: 1.5rem 2rem 0rem 2rem 
}

.nav-list{
    display: flex;
    height: fit-content;
    margin-top: 1rem;
    margin-left: 30%;
    width: fit-content;
}

.nav-list-item{
    color: white;
    display: block;
    min-width: 9rem;
    font-size: 13.5px;
}

.hero-image{
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
}

.welcome-container{
    margin: 4rem 0;
}

.welcome-section{
    width: fit-content;
    margin-left: 10rem;
    max-width: 660px;
    margin-top: 70vh;
}

.bodycopy-highlight{
    color: #fbd784;
}

.footer-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 5rem;
}

.text-bodycopy-footer{
    max-width: 45%;
}

.contact-header{
    color: #fbd784;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.gallery-top-container{
    /* position: relative; */
    background-color: orange;
    background: linear-gradient(180deg, rgba(11, 29, 38, 0.00) 0%, #0B1D26 61.38%);
}

.flying-container{
    background-color: #0B1D26 ;
    position: absolute;
    top: 5%;
    right: 2vw;
    min-width: 400px;
    width: 25vw;
    padding: 3.75rem 2rem 2rem 1.5rem;
    z-index: 1;
}

.flying-container-bottom{
    position: absolute;
    z-index: 1;
    bottom: 0px;
    padding: 1.5rem 2.5rem 0;
    background: linear-gradient(180deg, rgba(11, 29, 38, 0.045) 0%,rgba(11, 29, 38, 0.712) 10%,  #0b1d26 80%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.gallery-people-container-l{
    width: 40vw;
    justify-content: space-between;
}

.gallery-people-container-s{
    width: 20vw;
}


.underline-container{
    padding-bottom: .5rem ;
    border-bottom: 0.2px solid #ccc;
    margin-bottom: .5rem;
}



.gallery{
    position: relative;
}

