:root {
    --text-decorative: clamp(0.6rem, 1vw, 1rem);
    --header-l: clamp(2.5rem, 5vw, 4rem);
    --header-m: clamp(2.5rem, 4vw, 3rem);
    --header-s: clamp(1.5rem, 3vw, 2rem);
    --text-bodycopy-m: clamp(0.8rem, 2vw, 0.9rem);
    --text-bodycopy-s: clamp(0.5rem, 2.5vw, 0.9rem);
    --nav-list-item: clamp(0.75rem, 1vw, 0.85rem);
}


@font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url('assets/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Chronicle Display';
    src: url('assets/fonts/Chronicle-Display-Semibold.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Chronicle Display';
    src: url('assets/fonts/Chronicle-Display-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Chronicle Display';
    src: url('assets/fonts/Chronicle-Display-Roman.otf') format('opentype');
    font-weight: 400;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    background-color: #0B1D26;
}

.text-decorative {
    color: #fbd784;
    position: relative;
    font-size: var(--text-decorative);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-left: 80px;
    max-width: 420px;
}

.text-decorative::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    /* Adjust thickness */
    height: 1px;
    /* Full height */
    background-color: #fbd784;
}

.header {
    font-family: 'Chronicle Display', monospace;
    font-weight: 400;
    color: white;
    max-width: 780px;
}

.header-l {
    font-size: var(--header-l);
}

.header-m {
    font-size: var(--header-m);
}

.header-s {
    font-size: var(--header-s);
}

.text-bodycopy {
    color: white;
}

.text-bodycopy-m {
    font-size: var(--text-bodycopy-m);
    line-height: 28px;
}

.text-bodycopy-s {
    font-size: var(--text-bodycopy-s);
    line-height: 160%;
}

.text-light {
    color: white;
    font-weight: 300;
    line-height: 170%;
}

.copyright-text {
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-top: 3rem;
    opacity: 0.5;
}

.text-center {
    align-content: center;
}

.text-bottom {
    align-content: flex-end;
}

.margin-top-m {
    margin-top: 2rem;
}

.header-section {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.logo {
    display: flex;
    align-items: center;
    position: absolute;
    width: 19%;
}


.logo img {
    width: 100%;
}

.header-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5rem 4rem 2rem 4rem;
}


.nav-list {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    height: fit-content;
    /* margin-bottom: 12px; */
    justify-self: center;
    width: fit-content;
    gap: 2rem;

}


.nav-list-item {
    color: white;
    display: block;
    font-size: 13.5px;
}

.nav-list-item:hover {
    color: #fbd784;
    cursor: pointer;
}


/* idk what is happening here, but it is working */
.vertical-text {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    gap: 1rem;
    position: sticky;
    left: 99%;
    top: 0;
    transform:  rotate(90deg);
    transform-origin: bottom left;
}

.hero-image {
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    top: 0;
}

.welcome-container {
    margin-top: 20%;
}

.bg-img-s {
    height: 160px;
    margin-bottom: -3.5rem;
    margin-left: -5rem;
    width: fit-content;
}

.bg-img-s img {
    width: 100%;
}

.welcome-section {
    position: relative;
    width: fit-content;
    padding-left: 15rem;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: fit-content;
    margin-top: 550px;
    /* background-color: #0b1d26 */
}

.text-wrapper-s {
    max-width: 500px;
}

.arrow-right {
    padding: 10px;
    padding-left: 0;
    width: fit-content;
}

.arrow-right:hover, .arrow-right:active {
    cursor: pointer;
    opacity: 0.8;
}

.bodycopy-highlight {
    color: #fbd784;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6rem;
}


.text-bodycopy-footer {
    width: 60%;
    min-width: 300px;
}

.contact-header {
    color: #fbd784;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.gallery-wrapper {
    position: relative;
}

.gallery-top-container {
    background: linear-gradient(180deg, rgba(11, 29, 38, 0.00) 0%, #0B1D26 61.38%);
}

.flying-container {
    background-color: #0B1D26;
    position: absolute;
    top: 5%;
    right: 2vw;
    min-width: 400px;
    width: 20vw;
    padding: 2rem 1rem 1rem 1.7rem;
    z-index: 2;
}



.flying-container-bottom {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    padding: 50vh 2.5rem .5rem 2.5rem;
    background: linear-gradient(180deg, rgba(11, 29, 38, 0.00) 0%, #0B1D26 71.38%);
    /* border: 1px solid #fbd784; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.flying-container-bar {
    z-index: 2;
    height: 40vh;
    width: 4px;
    position: absolute;
    left: 4rem;
    background-color: #fbd78478;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0px 0px 10px 0px #3b3b3be4;
}

.bar {
    width: 4px;
    height: 60px;
    background-color: #eeb42c;
    position: absolute;
    border: .2px solid #fab108;
}

.bar-numbers {
    height: 100%;
    padding: 1.2rem;
    padding-left: 1.7rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-between;
}

.bar-numbers p {
    font-size: 21px;
    font-weight: 400;
    color: #fbd784;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.gallery-people-container-l {
    width: 40vw;
    justify-content: space-between;
}

.gallery-people-container-s {
    width: 20vw;
}

.underline-container {
    padding-bottom: .5rem;
    border-bottom: 0.2px solid #ccc;
    margin-bottom: .5rem;
}

.mobile-container {
    display: none;
}

@media (max-width: 576px) {
    .nav-list {
        display: none;
    }

    .header-container {
        justify-content: center;
    }

    .logo {
        width: 50%;
    }

    .welcome-section {
        margin-top: 12rem;
    }

    .vertical-text {
        display: none;
    }

    .welcome-container {
        margin-top: 40%;
    }

    .header-section {
        max-width: 450px;
        padding: 2rem;
    }

    .welcome-section {
        padding: 7rem 1.5rem 2rem 1.5rem;
        margin: auto;
    }

    .welcome-section .header {
        padding-bottom: 1rem;
    }

    .bg-img-s {
        margin-left: 0;
        height: 126px;
        margin-bottom: -4.5rem;
    }

    .text-wrapper-s {
        max-width: 300px;
        margin: 0 1rem;
    }

    .arrow-right {
        margin-left: 1rem;
    }

    .footer-flex {
        flex-direction: column;
        margin: 6rem 2rem 5rem 2rem;
        position: relative;
    }

    .text-bodycopy-footer {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .copyright-text {
        position: absolute;
        bottom: -3rem;
    }

    .text-bodycopy-s {
        font-size: 12px;
        font-weight: 400;
    }

    /* .flying-container-bottom{
        padding: 2rem;
        flex-direction: column;
    } */

    .gallery-people-container-l {
        width: 100%;
    }

    .gallery-people-container-s {
        width: 50%;
    }

    .flying-container-bar,
    .flying-container-bottom,
    .flying-container {
        display: none;
    }

    .mobile-container {
        display: flex;
    }

    .mobile-container-picture-description {
        /* background-color: #2da1db; */
        flex-direction: column;
        padding: 1.5rem 1rem 1.5rem 2rem;
    }

    .margin-top-m {
        margin-top: 1rem;
    }

    .text-gallery-footer {
        color: #FBD784;
        margin: 1.5rem 0;
    }

    .text-decorative::before{
        width: 35px;
    }

    .text-decorative {
        padding-left: 50px;
        margin-bottom: .2rem;
    }

}